<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of post <%= @post.id %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>Title:</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= @post.description %></td>
        </tr>
      

<ul>
  
  <li><%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>




      </tbody>
    </table>
  </div>
</div>

